.social-login
  button.social-login--github
    a(href=routes.gitHub)
      span
        i.fab.fa-github
      //-텍스트 태그 취급 방지 | 를 앞에 붙임  
      |&nbsp;Continue with Github 
  button.social-login--facebook
    a(href=routes.facebook)
    span 
      i.fab.fa-facebook
    |&nbsp;Continue with Facebook

    